*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.letters-row {
  display: flex;
  flex-wrap: none;
}

.rise-title-text {
  display: "absolute";
  color: "red";
}

.key-selected {
  animation: flickerColor 2s infinite step-start;
}

@keyframes flickerColor {
  0% {
    background-color: #eb817e;
  }
  50% {
    background-color: #eb817e;
  }
  51% {
    background-color: none;
  }
  100% {
    background-color: none;
  }
}

.top-toolbar {
  background-color: #f0f0f0;
  padding-left: 5px;
}

.top-toolbar-menu-item {
  display: flex;
  background-color: transparent;
  align-items: center;
  border: none;
  padding: 0 8px;
  justify-content: space-between;
  margin: 1px;
  width: 100px;
}

.top-toolbar-menu-item:hover {
  display: flex;
  align-items: center;
  border: thin outset;
}

.top-toolbar-menu-item:active:hover {
  border: thin inset;
}

.toolbar-separator {
  width: 2px;
  background-color: #a0a0a0;
  border-right: 1px solid #ffffff;
  margin: 2px 2px;
}
